.pageContent {
	display: grid;
	grid-template-rows: 15% 85%;
	grid-template-columns: 60% 40%;
	grid-template-areas:
		" button map "
		" search map ";
	gap: 10px 10px;
	padding-left: 2%;
}

.addRestaurantContainer {
	grid-area: button;
	display: grid;
	align-items: center;
	justify-content: start;
}

.reviewSearchContainer {
	grid-area: search;
	display: inherit;
	align-items: space-between;
	height: 95%;
}

.reviewMapContainer {
	grid-area: map;
	display: grid;
	place-items: center;
	height: 95%;
}
