/****** FOR THE MODALS ******/

/* overlay */
.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	transition: opacity 550ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

/* content */
.modalContainer {
	position: absolute;
	border-radius: 0.8rem;
	padding: 2%;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	margin-right: -50%;
	transform: translate(-50%, -50%);
    background-color: white;
}

.addRes {
	width: 50%;
	height: 80%;
}

.redux {
	width: 35%;
	height: 35%;
}

.updateShop {
	width: 400px;
	height: 50%;
	padding: 1%;
}

/* for the button */
