.modalContent {
	display: grid;
	grid-template-columns: 60% 40%;
	height: 100%;
	min-width: 60%;
}
.nameAndReviews {
	display: grid;
	grid-template-rows: 40% 60%;
	block-size: fit-content;
}
/****  ****/

.name {
	display: inherit;
	align-items: center;
}

.noReviews {
	display: grid;
	place-items: center;
}
/****  ****/

.summary {
	display: grid;
    align-content: space-evenly;
    justify-content: center;
}

.info {
	display: inherit;
	justify-items: center;
	text-align: center;
}

.linkBtn {
	text-align: center;
}
