.container {
	display: flex;
	flex-direction: column;
}

/*****/
.subContainer.header {
	border-radius: 8px 8px 0 0;
	background: #004b50;
}

.heading {
	display: grid;
	place-items: center;
	font-size: 16px;
	font-weight: bold;
	color: lightgrey;
	z-index: auto;
	padding: auto;
}

/*** to cap size of overflow container ***/

.overflow-content {
	height: 100%;
	overflow-y: scroll;
	border-radius: 0 0 8px 8px;
}

::-webkit-scrollbar {
	width: 0px; /* remove scrollbar space */
	background: black; /* optional: just make scrollbar invisible */
}
/* https://css-tricks.com/forums/topic/hide-vertical-scrollbar-but-still-scrollable/ */
/* taken from https://codepen.io/sulfurious/pen/eWPBjY?editors=1100 */

.noResults {
	grid-column: 1/6;
	text-align: center;
}

/*******/
/* https://tobiasahlin.com/blog/how-to-animate-box-shadow/ - for the box shadow stuff below*/