.container {
	display: flex;
	flex-direction: column;
}

/*****/
.headers {
	border: 1px solid lightgrey;
	border-radius: 8px 8px 0 0;
	padding: 3% 0;
	background: #004b50;
	place-items: center;
}

.header {
	font-size: 16;
	font-weight: bold;
  	border: 1px solid lightgrey;
	color: grey;
	z-index: auto;
	padding: auto;
}

/*** to cap size of overflow container ***/

.overflow-content {
  height: 100%;
  overflow-y: scroll;
  border-radius: 0 0 8px 8px;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: black; /* optional: just make scrollbar invisible */
}
/* https://css-tricks.com/forums/topic/hide-vertical-scrollbar-but-still-scrollable/ */
/* taken from https://codepen.io/sulfurious/pen/eWPBjY?editors=1100 */

.noResults {
  grid-column: 1/6;
  text-align: center;
}

/*******/
/* https://tobiasahlin.com/blog/how-to-animate-box-shadow/ - for the box shadow stuff below*/