.restaurantInfo {
	display: grid;
	grid-template-columns: 60% 40%;
	align-items: center;
	width: 100%;
}
.info {
	display: inherit;
	place-items: center;
	padding: 1%;
}
/****  ****/
.subheader {
	place-items: center;
}

/****  ****/
.review {
	display: grid;
	grid-template-columns: 60% 40%;
	font-size: 0.9rem;
}

.linkBtn {
	display: inherit;
	place-items: center;
}

/***/
.noReviews {
	padding-top: 2rem;
}